<style>
    a {
        text-decoration: none;
        cursor: pointer;
    }

    body {
        background-color: red;
        color: white;
        margin: 0;
        padding: 0;
    }

    H1 {
        text-align: center;
        Color: black;
        font-family: Arial;

    }

    .pic {
        Width: 100%;
        z-index: -1;
    }

    nav {
        background-color: rgb(47 49 54);
        text-align: center;


    }

    body {
        background-color: red;
        margin: 0;
    }

    .collapsed {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    .brand {
        font-size: 1.5rem;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .brand>img {
        padding: 1rem;
        height: 50px;
    }


    .nav {
        display: flex;
        list-style: none;
        font-size: 1rem;
        margin: 0;
        align-items: center;
        gap: .5rem;
        padding: 1rem;
    }

    .nav>li {
        margin: 0;
        flex-grow: 1;
    }

    .nav>li a {
        color: #d1d5db;
        text-decoration: none;
        padding: .75rem;
        display: block;
        border-radius: .375rem;
    }

    .nav>li a:hover {
        background-color: rgb(54 57 63);
        color: white;

    }

    .nav-toggler {
        margin: 0;
        padding: .25rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .nav-toggler>button {
        color: #d1d5db;
        padding: .5rem;
        display: block;
        width: calc(100% - 2rem);
        margin: 1rem;
        background-color: rgb(47 49 54);
        border: none;
        border-radius: .375rem;
    }

    .nav-toggler>button:hover {
        background-color: rgb(54 57 63);
        color: white;
    }

    .nav-toggler>button>svg {
        display: block;
        margin: auto;
    }


    .dropdown {
        position: relative;
        flex-grow: 1;
        cursor: pointer;
    }

    .dropdown>a {
        padding: .75rem;
        color: #d1d5db;
        border-radius: .375rem;
        display: block;
    }

    .dropdown>a:hover {
        background-color: rgb(54 57 63);
        color: white;
    }

    .dropdown-menu>li {
        border-radius: .375rem;
        text-align: center;
        font-size: 1rem;
    }

    .dropdown-menu {
        list-style: none;
        margin: 0;
        padding: 1rem;
        position: absolute;
        background-color: rgb(47 49 54);
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: calc(100% - 2rem);
        border-radius: .375rem;

    }


    .dropdown-menu>li a {
        display: block;
        text-decoration: none;
        color: #d1d5db;
        padding: .5rem;
        border-radius: .375rem;
    }

    .dropdown-menu>li a:hover {
        background-color: rgb(54 57 63);

    }

    .dropdown-menu>li:hover a {
        color: white;
    }

    .active {
        color: white !important;
        background-color: rgb(32 34 37) !important;
    }

    .flex {
        display: flex;

    }

    .grid {
        display: grid;
        gap: .5rem;
        margin: 1rem;
    }

    .hidden {
        display: none;
    }

    @media screen and (min-width: 992px) {
        .dropdown:hover .dropdown-menu {
            display: flex;
        }

        .nav.hidden {
            display: flex;
        }

        .nav-toggler {
            display: none;
        }

        .nav {
            width: 100%;
        }

        .grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media screen and (max-width: 991px) {
        .nav {
            flex-direction: column;
        }

        .nav>li,
        .dropdown {
            width: 100%;
        }

        .dropdown-menu {
            position: static;
            margin-inline: 1rem;
        }

        .dropdown .dropdown-menu {
            width: calc(100% - 4rem);
        }

        .flex {
            flex-direction: column;
        }

        .grid {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(47 49 54);
        width: 75%;
        margin-inline: auto;
        border-radius: .375rem;
        text-align: center;
        align-items: center;
    }

    .card>a {
        border: 1px solid #6c757d;
        margin-block: 1em;
        min-width: 50%;
        max-width: 90%;
        word-break: normal;
        padding: .5rem;
        border-radius: .375rem;
        color: #6c757d;
    }

    .card>a:hover {
        color: white;
        background-color: #6c757d;
    }

    .home {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .card-border {
        border-radius: 22px;
        background-color: rgb(47 49 54);
        padding: 1rem;
    }

    .border {
        border-radius: 6px;
        width: 100%;
        aspect-ratio: 16/9;
    }
</style>
