
a {
  Text-decoration: none;
}

body {
  background-color: red;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
  max-width: 890px;
}

p {
  text-align: center;
  Margin-left: 10px;
  Margin-right: 10px;
  Color: black;
  z-index: -1;
}

H1 {
  text-align: center;
  Color: black;
  font-family: Arial;
  z-index: -1;
}

.pic {
  Width: 100%;
  Height: auto;
  top: 62px;
  z-index: -1;
}

 a {
        cursor: pointer;
    }

    body {
        background-color: red;
        margin: 0;
    }

    .nav {
        display: flex;
        list-style: none;
        font-size: 2rem;
        margin: 0;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: 1rem;
    }

    .nav-toggler {
        margin: 0;
        padding: .25rem;
    }


    nav {
        background-color: #1f2937;
        text-align: center;

    }

    .nav>li a:hover {
        background-color: rgb(55 65 81);
        color: white;

    }



    .nav>li {
        flex-grow: 1;
        margin: 0;
    }

    .nav>li a {
        color: #d1d5db;
        text-decoration: none;
        padding: .75rem;
        display: block;
        border-radius: .375rem;
    }

    .nav-toggler>button {
        color: #d1d5db;
        padding: .75rem;
        display: block;
        width: calc(100% - 2rem);
        margin: 1rem;
        background-color: rgb(31 41 55);
        border: none;
        border-radius: .375rem;
        font-size: 2rem;
    }

    .nav-toggler>button:hover {
        background-color: rgb(55 65 81);
        color: white;
    }

    .dropdown>a {
        padding: .75rem;
        color: #d1d5db;
        border-radius: .375rem;
        display: block;
    }

    .dropdown>a:hover {
        background-color: rgb(55 65 81);
        color: white;
    }

    .dropdown-menu {
        list-style: none;
        margin: 0;
        padding: 1rem;
        position: absolute;
        background-color: rgb(31 41 55);
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: calc(100% - 2rem);
        border-radius: .375rem;

    }

    .dropdown-menu>li {
        border-radius: .375rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .dropdown {
        position: relative;
        flex-grow: 1;
    }


    .dropdown-menu>li a {
        display: block;
        text-decoration: none;
        color: #d1d5db;
        padding: .5rem;
        border-radius: .375rem;
    }

    .dropdown-menu>li a:hover {
        background-color: #374151;

    }

    .dropdown-menu>li:hover a {
        color: white;
    }

    .hidden {
        display: none;
    }

    @media screen and (min-width: 951px) {
        .dropdown:hover .dropdown-menu {
            display: flex;
        }

        .nav.hidden {
            display: flex;
        }

        .nav-toggler {
            display: none;
        }
    }

    @media screen and (max-width: 950px) {
        .nav {
            flex-direction: column;
        }

        .nav>li,
        .dropdown {
            width: 100%;
        }

        .dropdown-menu {
            position: static;
            margin-inline: 1rem;
        }

        .dropdown .dropdown-menu {
            width: calc(100% - 4rem);
        }
    }
